<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        <li class="fa fa-remove"></li>
    </button>
    <!--<h5 class="modal-title"></h5>-->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-content-list" data-toggle="tab" id="nav-tab-list"><i class="fa fa-list-ul"></i>&nbsp;流程明细列表</a></li>
        <li><a href="#tab-content-edit" data-toggle="tab" id="nav-tab-edit"><i class="fa fa-image"></i>&nbsp;流程运行图示</a></li>
    </ul>
</div>
<div class="modal-body nav-tabs-custom" style="height: 600px;padding: 0px;">

    <div class="tab-content" style="padding: 0px;">

        <div class="tab-pane active" id="tab-content-list">

        </div>

        <div class="tab-pane" id="tab-content-edit">
         
        </div>

    </div>
</div>
<script>
    var instanceId = "${instanceId?default(0)}";
    $(function () {
        loadPage(basePath+"/activiti/monitor/list/"+instanceId,"#tab-content-list");
        loadPage(basePath+"/activiti/monitor/image/"+instanceId,"#tab-content-edit");
    })


</script>
